@model string
@{
    var countries = ViewBag.Countries as IEnumerable<string>;
}

<div class="col-md-6">
    <label for="CountryName" class="form-label">Country</label>
    <select id="CountryName" name="CountryName" class="form-select" asp-for="@Model" asp-items="@(new SelectList(countries, Model))">
        <option value="">-- Select Country --</option>
    </select>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
